#monocle3 for R 4.3
if (!requireNamespace("BiocManager", quietly = TRUE))
  install.packages("BiocManager")

#3.14 overwritten to 3.17
BiocManager::install(version = "3.17") 

#this packages had to be installed individually, don't know why
install.packages(c("boot", "class", "foreign", "KernSmooth", "MASS", "Matrix", "nnet", "spatial", "survival")) 

BiocManager::install(c('BiocGenerics', 'DelayedArray', 'DelayedMatrixStats',
                       'limma', 'lme4', 'S4Vectors', 'SingleCellExperiment',
                       'SummarizedExperiment', 'batchelor', 'HDF5Array',
                       'terra', 'ggrastr'))

#apt-get install libfreetype6-dev libpng-dev libtiff5-dev libjpeg-dev libharfbuzz-dev libfribidi-dev libfontconfig1-dev libxml2-dev
install.packages("devtools")